footer {
  color: #828282;
  font-size: small;

  line-height: 1.5;

  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 32px;
  margin-bottom: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #4e4bec;
}
