.wrapper {
  margin-top: 5vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.artboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 2px solid white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.canvasMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: top;
  background-color: rgba(1, 22, 39, 1);
  color: white;
  padding: 12px;
  max-width: 200px;
  border-radius: 0 4px 4px 0;
}

hr {
  color: white;
  width: 200px;
}

.cvBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.canvasMenu button {
  background-color: rgba(255, 255, 255, 1);
  padding: 12px;
  border: none;
  border-radius: 2px;
  min-width: 200px;
  font-weight: bold;
}

.canvasMenu button:hover {
  font-weight: bold;
}

.canvasMenu h1 {
  font-size: large;
  font-weight: 700;
}
.canvasMenu h2 {
  font-size: medium;
  font-weight: 500;
}

.canvasMenu p {
  font-size: medium;
  font-weight: 300;
}

.dimensions {
  font-size: smaller;
  color: rgba(255, 255, 255, 0.6);
}

select {
  color: rgba(1, 22, 39, 1);
  height: 48px;
  min-width: 200px;
  padding-left: 4px;
  padding-right: 0;
  font-size: small;
  font-weight: medium;
  margin-top: 4px;
  margin-bottom: 12px;
  border: none;
  border-radius: 2px;
}

label {
  font-size: small;
  font-weight: medium;
}
